/* Estilos generales para nuestra pagina */ /* COLORES DE LETRA*/
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

/*BORDER RADIUS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* HEADER */
header, main, footer {
  margin: 1% 6%;
}

header {
  display: flex;
}
header .logo {
  display: flex;
}
header .nombre-empresa {
  display: flex;
  padding-right: 400px;
  width: 130px;
  font-weight: bold;
  align-items: center;
}

.logo {
  text-decoration: none;
}
.logo img {
  width: 120px;
}

nav {
  display: flex;
  align-items: center;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.menu-horizontal li {
  display: block;
  padding: 15px 10px;
  color: black;
  text-decoration: none;
}
.menu-horizontal li a {
  display: block;
  padding: 15px 10px;
  color: black;
  text-decoration: none;
}

.menu-vertical {
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
}

.menu-horizontal li:hover .menu-vertical {
  display: block;
  background-color: white;
  z-index: 2;
}

.menu-horizontal a:hover {
  color: red;
}

.menu-vertical a:hover {
  color: red;
}

.menu-vertical li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 15px 15px 15px 20px;
  text-decoration: none;
}

.icons {
  padding: 0px 30px;
  display: flex;
  align-items: center;
}

.containersearch input#search {
  width: 250px;
  height: 40px;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.icons i:hover {
  color: red;
}

.carousel-item img {
  border-radius: 10px;
}

.contenedor1 img {
  position: relative;
}

.gridLayout {
  display: grid;
  height: 450px;
  width: 100%;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 350px;
  grid-template-areas: "perifericos graficas fuentes";
}

.caja1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 230px;
  width: 100%;
  height: 350px;
  background-color: black;
  border-radius: 10px;
  color: white;
}

.caja11 {
  display: flex;
  justify-content: center;
}
.caja11 img {
  position: relative;
  bottom: 265px;
  margin-bottom: -300px;
}

.column {
  box-sizing: border-box;
  width: 33.2%;
}

.caja2 {
  grid-area: perifericos;
  width: 97%;
  height: 350px;
  margin-top: 40px;
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
}

.caja22 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.column2 {
  box-sizing: border-box;
  width: 16.6%;
}

.cajacol, .caja4, .caja3 {
  width: 97%;
  height: 350px;
  margin-top: 40px;
  border-radius: 10px;
}

.caja3 {
  grid-area: graficas;
  background-color: #ffc107;
}

.caja4 {
  grid-area: fuentes;
  background-color: rgb(21, 255, 0);
}

.losMejores {
  padding-top: 80px;
  font-size: 28px;
  text-align: center;
}

.losMejores1 {
  padding-top: 100px;
  font-size: 14px;
  text-align: center;
}

.tituloProducto1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

footer img {
  width: 80px;
}

.redsociales {
  display: flex;
}
.redsociales a {
  display: inline-flex;
  color: #000000;
  height: 48px;
  width: 48px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 0 6px;
  transition: transform 0.4s;
}

.redsociales a:hover {
  transform: scale(1.3);
}

.redsociales a.facebook {
  color: white;
  background-color: #3c70a4;
}

.redsociales a.twitter {
  color: white;
  background-color: #5bd1d7;
}

.redsociales a.instagram {
  color: white;
  background-color: #ff00b7;
}

/* CONTACTANOS */
.aboutUs {
  margin-top: 60px;
  width: 100%;
  height: 240px;
  margin-bottom: 110px;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  background: linear-gradient(90deg, rgb(191, 187, 187) 0%, rgb(191, 187, 187) 18%, rgb(191, 187, 187) 79%, rgb(255, 255, 255) 96%);
}

.gridLayout2 {
  display: grid;
  height: 450px;
  width: 100%;
  grid-template-columns: 50% 35%;
  grid-template-rows: 500px;
  grid-template-areas: "mapa info";
}

.mapa {
  grid-area: mapa;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.info {
  grid-area: info;
}

.largo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 45px;
  border-color: rgb(158, 2, 2);
  border-radius: 4px;
}

#pregunta, .interesado {
  border-color: rgb(158, 2, 2);
  border-radius: 4px;
}

/* COLORES DE LETRA*/
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

/*# sourceMappingURL=style.css.map */
