/* COLORES DE LETRA*/

$black:black;
$red:red;
$blue:blue;
$white:white;

a{
    text-decoration: none;
    color: $black;
}






// Titulos
// font-family: 'Anton', sans-serif; TITULOS

// LETRA CUERPO font-family: 'Rubik', sans-serif;