/* COLORES DE LETRA*/

$black:black;
$red:red;
$blue:blue;
$white:white;

a{
    text-decoration: none;
    color: $white;
}

a:hover{
    color: white;
}






// Titulos
// font-family: 'Anton', sans-serif; TITULOS

// LETRA CUERPO font-family: 'Rubik', sans-serif;
